.inputBox {
  margin-bottom: 16px;
}
.controlBtns {
  margin-bottom: 16px;
  width: 136px;
  background-color: white;
}
.mainBtn {
  font-size: large;
  background-color: lawngreen;
}
.ingredientInput {
  width: 128px;
}
.error {
  margin-top: 0px;
  color: red;
}
