.inputBox {
  margin-bottom: 16px;
}
.controlBtns {
  margin-bottom: 16px;
  margin-bottom: 16px;
  width: 136px;
  background-color: white;
}
.mainBtn {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: x-large;
  background-color: lawngreen;
}
.ingredientInput {
  width: 128px;
}
.error {
  margin-top: 0px;
  color: red;
}
.notification {
  margin-top: 0px;
  color: limegreen;
}
#dishNutritionsValues,
h2 {
  margin-top: 16px;
}
.navbar {
  margin-bottom: 16px;
}
.cancelBtn {
  background-color: red;
  border: solid 2px;
  /* margin-bottom: 16px; */
}
.acceptBtn {
  background-color: lime;
  border: solid 2px;
  /* margin-bottom: 16px; */
}
#saveDishBtn {
  margin-bottom: 16px;
}
.savedDish {
  height: 124px;
  border: 1px solid black;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 16px;
  margin-bottom: 8px;
  border-radius: 16px;
}
.dishDescription {
  margin-top: 0px;
  margin-bottom: 8px;
}
.dishTitle {
  margin-top: 8px;
  margin-bottom: 0px;
}
textarea {
  height: 200px;
  width: 600px;
}
