.inputBox {
  margin-bottom: 16px;
}
.controlBtns {
  margin-bottom: 16px;
  margin-bottom: 16px;
  width: 136px;
  background-color: white;
}
.mainBtn {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: x-large;
  background-color: lawngreen;
}
.ingredientInput {
  width: 128px;
}
.error {
  margin-top: 0px;
  color: red;
}
#dishNutritionsValues,
h2 {
  margin-top: 16px;
}
.navbar {
  margin-bottom: 16px;
}
